.fa {
    padding: 7px;
    font-size: 24px;
    width: 36px;
    height: 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    align-self: center;
    margin: 4px;;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }

  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-github{
    padding: 0px;
    width: 36px;
    height: 36px;
    font-size: 42px;
    margin-top: -1px;
    
  }
  .fa-linkedin{
    padding: 0px;
    width: 36px;
    height: 36px;
    font-size: 24px;
    background-color: #183153;
    color: white;
  }
  .fa-linkedin:before{
    position: absolute;
    margin-top: 5px;
    margin-left: -9px;

  }




.contact {
    margin-block-end: 5em;
    grid-column: inherit;
  }
  .u-wrapper {
    max-inline-size: 1232px;
    margin: 0 auto;
    padding: 0 1em;
  }
  
.form {
    max-inline-size: 1000px;
    margin: auto;
    width: 500px;
  }
  
  .form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
  }
  
  .form label span {
    color: #DA1414;
  }
  
  .form input, .form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
  }
  .form textarea {
    margin-block-end: 2em;
    font-family: inherit;
  }
  
  input::-webkit-input-placeholder {
    color: #0F0A0A88;
  }
  .contact-header{
    padding: .5em;
    text-align: center;
    font-size: medium;
    font-weight: bold;
  }
  
.btn {
    border-radius: 90px;
    letter-spacing: 1.25px;
    background: initial;
    block-size: 50px;
    display: block;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    border: 2px solid var(--black);
    font-weight: bold;
    padding: 0 1.5em;

    color: white;
  }
  .btn.full {
    width: 100%;
    background-color: #4b0082;
  }
  #mailTo{
    opacity: 0;
  }
